@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .topbar-menu {
    @apply bg-gray-300 text-black  scale-0 absolute  w-auto p-2 m-2 rounded-xl duration-500;
  }

  .grid-btn-red {
    @apply rounded-lg xl:rounded-md text-3xl bg-red-900 border-2 border-slate-900 m-2 font-semibold  aspect-square xl:aspect-auto xl:h-40 max-h-56 xl:max-h-52;
  }
  .grid-btn {
    @apply rounded-lg xl:rounded-md text-3xl bg-slate-400 xl:bg-[#afcfd0]  border-2 border-slate-900 m-2 font-semibold hover:bg-gray-600 xl:hover:bg-gray-400 aspect-square xl:aspect-auto xl:h-40 max-h-56 xl:max-h-52;
  }
  thead th {
    @apply px-6 py-3;
    width: 200px;
  }
  tr {
    @apply text-center odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700;
  }
  tbody td {
    width: 200px;
    @apply text-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white;
  }

  .sch input[type="text"],
  .sch input[type="password"],
  .sch input[type="time"],
  .sch input[type="button"],
  .sch select {
    @apply bg-gray-50 border border-gray-300 text-gray-900  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #374151 inset !important;
    -webkit-text-fill-color: white !important;
  }
}
