<!doctype html>
<html lang="en">
  <head>
    <title>IU-Infy's Univirse</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/Static/Css/style.css"
    />
  </head>
  <body>
    <div class="background-image"></div>
    <div class="content center LogIn">
      <h1>LogIn</h1>
      <form action="/Submit/LogIn" method="POST">
        <input type="text" placeholder="Username" name="Username" />
        <input type="password" placeholder="Password" name="Password" />
        <input type="submit" name="Alons-y" value="Alons-y" />
      </form>
      <div></div>
    </div>
  </body>
</html>
