<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="Static/Css/mainPage.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="side">
      <a class="sideButton" href="/TicTacToe">
        <i class="fa fa-angellist"></i> TTT</a
      >
      <a class="sideButton" href="/Schedule"
        ><i class="fa fa-th-list"> </i>Schedule</a
      >
      <a class="sideButton" href="/Links"><i class="fa fa-chain"></i> Links</a>
      <a class="sideButton" href="/LogOut"
        ><i class="fa fa-arrow-circle-o-left"></i> LogOut</a
      >
      <a class="sideButton" href="/DeleteMe"
        ><i class="fa fa-eraser"></i> DeleteMe</a
      >
    </div>
    <div class="greeter">
      <h1>
        Hey there
        <font
          style="
            color: dodgerblue;
            font-weight: 900;
            font-style: oblique;
            text-shadow: 3px 3px 3px dimgray;
          "
          >{{.Username}}</font
        >, welcome to Infy's Universe
      </h1>
    </div>
  </body>
</html>
