<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My School Schedule</title>
    <link href="../Static/Css/schedule.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="title">
      <h1>{{.Username}}'s School Schedule</h1>
    </div>
    <div class="Subjects">
      <div class="wrapper">
        <h2 class="SectionH">Add Subjects</h2>
        <form class="addSubjects" id="myForm" method="POST">
          <input
            type="text"
            id="SubjField"
            name="Subject"
            placeholder="Subject"
            required
          />

          <input type="button" name="AddSubj" value="+" onclick="SubForm()" />
        </form>
      </div>
      <div style="height: 250px" class="wrapper" id="ListOfSubjects">
        <h2 class="SectionH">List of Subjects</h2>
        <ul>
          {{range .Subjects}}
          <li>{{print .}}</li>
          {{end}}
        </ul>
      </div>
    </div>
    <div class="wrapper">
      <div class="day">
        <h2 class="SectionH">Monday</h2>
      </div>
    </div>
    <script
      rel="javascript"
      type="text/javascript"
      src="/Static/JavaScript/schedule.js"
    ></script>
  </body>
</html>
