<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TicTacToe</title>
    <link href="/Static/Css/ticTacToe.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <div>
        <h1>Tic Tac Toe</h1>
      </div>
      <div class="score">
        <div>
          X:
          <font id="x_sc">0</font>
        </div>
        <div>
          O:
          <font id="o_sc">0</font>
        </div>
        <div>
          <button type="button" onclick="reset()">Res</button>
        </div>
      </div>
      <div class="game">
        <button
          type="button"
          id="1"
          class="grid-elements"
          value="_"
          onclick="setButton(1)"
        >
          _
        </button>
        <button
          type="button"
          value="_"
          id="2"
          class="grid-elements"
          onclick="setButton(2)"
        >
          _
        </button>
        <button
          type="button"
          value="_"
          id="3"
          class="grid-elements"
          onclick="setButton(3)"
        >
          _
        </button>
        <button
          type="button"
          value="_"
          id="4"
          class="grid-elements"
          onclick="setButton(4)"
        >
          _
        </button>
        <button
          type="button"
          value="_"
          id="5"
          class="grid-elements"
          onclick="setButton(5)"
        >
          _
        </button>
        <button
          type="button"
          value="_"
          id="6"
          class="grid-elements"
          onclick="setButton(6)"
        >
          _
        </button>
        <button
          type="button"
          value="_"
          id="7"
          class="grid-elements"
          onclick="setButton(7)"
        >
          _
        </button>
        <button
          type="button"
          value="_"
          id="8"
          class="grid-elements"
          onclick="setButton(8)"
        >
          _
        </button>
        <button
          type="button"
          value="_"
          id="9"
          class="grid-elements"
          onclick="setButton(9)"
        >
          _
        </button>
      </div>
    </div>
    <script src="/Static/JavaScript/TicTacToe.js"></script>
  </body>
</html>
