<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My School Schedule</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.xeiaso.net/static/pkg/iosevka/family.css"
    />
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <link href="/Static/Css/tailwind.css" rel="stylesheet" />
  </head>
  <body
    class="flex flex-col justify-between overflow-x-clip bg-man-ship bg-cover bg-no-repeat"
  >
    <!--Top Bar -->

    <nav
      class="w-full sticky top-0 z-10 shadow-md shadow-slate-900 bg-[#5f9ea0] px-2 xl:px-4 xl:text-4xl flex flex-row items-center justify-between rounded-b-xl xl:rounded-b-3xl h-14 md:h-[4.5rem]"
    >
      <div class="hover:text-white">
        <a href="/mainPage"><i class="fa fa-home"></i></a>
      </div>
      <div>
        <font
          class="font-serif font-bold text-xl xl:text-4xl text-slate-900 text-shadow shadow-emerald-900"
          >{{.Username}}</font
        >! Welcome to your Schedule
      </div>
      <div class="hover:text-white group">
        <i class="fa fa-bars"></i>
        <span
          class="topbar-menu top-6 right-2 group-hover:scale-100 xl:group-hover:scale-75 group-aria-pressed:scale-100"
        >
          <ul>
            <li class="hover:text-red-700">
              <i class="fa fa-user"></i> {{.Username}}
            </li>
            <li class="hover:text-red-700"><a href="/LogOut">LogOut</a></li>
            <li class="hover:text-red-700">
              <a href="/DeleteMe">Delete Acc.</a>
            </li>
          </ul></span
        >
      </div>
    </nav>
    <!--User Schedule-->
    <div
      class="sch ml-14 mt-28 order-last overflow-x-scroll flex flex-col items-center justify-between xl:flex-row xl:justify-evenly space-x-9"
    >
      <!--Actual Table containing Schedule #6D7ACA-->
      <div
        class="xl:px-4 py-4 bg-slate-100 dark:bg-gray-800 rounded-lg max-w-4xl shadow-Rcol"
      >
        <table
          class="block w-full text-sm text-left text-gray-500 dark:text-gray-400"
        >
          <thead
            class="overflow-x-scroll block text-2xs text-gray-500 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-300"
          >
            <tr>
              <th>Day</th>
              <th>Name</th>
              <th>L.No</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="xl:h-[600px] overflow-y-auto overflow-x-scroll block">
            {{range .Schedule}}
            <tr>
              <td>{{print .Day}}</td>
              <td>{{print .Name}}</td>
              <td>{{print .Lno}}</td>
              <td>{{print .StartTime}}</td>
              <td>{{print .EndTime}}</td>
              <td>
                <button
                  class="rounded py-0 px-2 dark:bg-gray-700 dark:border-gray-600 hover:animate-[size_1s_ease-in-out_infinite]"
                  hx-delete="/Submit/AddSchedule"
                  hx-vals='{"S": "{{print .}}"}'
                  hx-swap="delete"
                  hx-target="#{{print .}}"
                  type="button"
                >
                  -
                </button>
              </td>
            </tr>
            {{end}}

            <tr id="lastTR">
              <form id="scheduleForm" hx-post="/Submit/AddSchedule">
                <td>
                  <label for="Day"></label>
                  <select name="Day">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                  </select>
                </td>
                <td>
                  <label for="Name"></label>
                  <select name="Name">
                    <option disabled selected value>-- select --</option>
                    {{range .Subjects}}
                    <option value="{{print .}}">{{print .}}</option>
                    {{end}}
                  </select>
                </td>
                <td>
                  <label for="Lno"></label>
                  <select name="Lno">
                    <option value="1">1.</option>
                    <option value="2">2.</option>
                    <option value="3">3.</option>
                    <option value="4">4.</option>
                    <option value="5">5.</option>
                    <option value="6">6.</option>
                    <option value="7">7.</option>
                    <option value="8">8.</option>
                  </select>
                </td>
                <td>
                  <input type="time" name="StartTime" value="" />
                </td>
                <td>
                  <input type="time" name="EndTime" value="" />
                </td>
                <td>
                  <input
                    class="block px-3 ml-3 bg-gray-700 rounded-lg hover:bg-green-300/50 text-xl font-semibold"
                    type="submit"
                    name="submit"
                    value="+"
                    hx-swap="beforebegin"
                  />
                </td>
              </form>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Subjects -->
      <div
        class="flex flex-col justify-between shadow-col bg-orange-700/70 border-blue-950 border-4 min-w-56 max-w-70 max-h-[800px] rounded-lg overflow-x-auto"
      >
        <ul class="m-6 list-decimal order-first" id="liOfSubj">
          <h2
            class="text-center font-extrabold text-5xl drop-shadow-lg text-yellow-50 font-serif"
          >
            Subjects
          </h2>
          {{range .Subjects}}
          <li class="text-xl mt-4 ml-6" id="{{print .}}">
            {{print .}}
            <button
              class="inline text-lg py-0 px-2 bg-white rounded-lg hover:animate-[size_1s_ease-in-out_infinite]"
              hx-delete="/Submit/AddSubject"
              hx-vals='{"S": "{{print .}}"}'
              hx-swap="delete"
              hx-target="#{{print .}}"
              type="button"
            >
              -
            </button>
          </li>
          {{end }}
        </ul>
        <form
          class="flex flex-row justify-evenly text-2xl m-6 drop-shadow-xl order-last"
        >
          <input
            type="text"
            name="Subject"
            placeholder="Subject"
            class="block rounded-lg placeholder:text-2xl py-2 mt-3 border-2"
          />
          <input
            class="block rounded-lg text-white px-4 py-2 mt-3 ml-7 border-2 border-transparent hover:border-white bg-gray-700 hover:bg-emerald-500 font-semibold"
            type="submit"
            name="submit"
            value="+"
            hx-post="/Submit/AddSubject"
            hx-target="#liOfSubj"
            hx-swap="beforeend"
          />
        </form>
      </div>
    </div>
  </body>
</html>
