<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My School Schedule</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.xeiaso.net/static/pkg/iosevka/family.css"
    />
    <link href="/Static/Css/tailwind.css" rel="stylesheet" />
  </head>
  <body class="overflow-x-clip bg-man-ship bg-cover bg-no-repeat">
    <!--Top Bar -->
    <nav
      class="w-screen h-12 rounded-b-xl backdrop-blur-sm bg-[#5f9ea0]/60 flex justify-between"
    >
      <div>
        <a href="/mainPage"> <i class="fa fa-home"></i></a>
      </div>
      <div>
        <p class="font-lg">
          <font class="font-bold font-serif text-sky-300">{{.Username}}'s</font>
          Schedule
        </p>
      </div>
      <div></div>
    </nav>
  </body>
</html>
