<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TicTacToe</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="/Static/Css/tailwind.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.xeiaso.net/static/pkg/iosevka/family.css"
    />
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <link href="/Static/Css/tailwind.css" rel="stylesheet" />
  </head>
  <body
    class="bg-gray-200 xl:bg-city-map xl:bg-cover xl:bg-no-repeat flex flex-col overflow-hidden"
  >
    <nav
      class="w-full shadow-md shadow-slate-900 bg-[#5f9ea0] px-2 xl:px-4 xl:text-4xl flex flex-row items-center justify-between rounded-b-xl xl:rounded-b-3xl h-14 md:h-20"
    >
      <div class="hover:text-white">
        <a href="/mainPage"><i class="fa fa-home"></i></a>
      </div>
      <div>{{.}}! Welcome to TTT</div>
      <div class="hover:text-white group">
        <i class="fa fa-bars"></i>
        <span
          class="topbar-menu top-6 right-2 group-hover:scale-100 xl:group-hover:scale-75 group-aria-pressed:scale-100"
        >
          <ul>
            <li class="hover:text-red-700"><i class="fa fa-user"></i> {{.}}</li>
            <li class="hover:text-red-700"><a href="/LogOut">LogOut</a></li>
            <li class="hover:text-red-700">
              <a href="/DeleteMe">Delete Acc.</a>
            </li>
          </ul></span
        >
      </div>
    </nav>

    <div
      class="flex flex-row xl:mx-[40vw] mt-20 mb-5 xl:mb-10 xl:max-w-[40rem] items-center justify-center text-xl xl:text-3xl xl:backdrop-filter backdrop-blur xl:border-2 border-slate-700 xl:p-3 xl:rounded-xl"
    >
      <div class="mx-auto">X: <font id="x_sc">0</font></div>
      <div
        class="mx-auto bg-amber-700/80 xl:bg-violet-700/60 border-2 border-slate-700 rounded py-1 px-1 hover:animate-[size_1s_ease-in-out_infinite]"
      >
        <button type="button">Res</button>
      </div>
      <div class="mx-auto">O: <font id="o_sc">0</font></div>
    </div>
    <div
      class="grid grid-rows-3 grid-cols-3 xl:gap-2 shadow-xl shadow-slate-900 mx-6 xl:mx-[30rem] xl:backdrop-filter backdrop-blur border-2 border-slate-700 p-3 rounded-xl"
    >
      <button class="grid-btn" type="button">1</button>
      <button class="grid-btn" type="button">2</button>
      <button class="grid-btn" type="button">3</button>
      <button class="grid-btn" type="button">4</button>
      <button class="grid-btn" type="button">5</button>
      <button class="grid-btn" type="button">6</button>
      <button class="grid-btn" type="button">7</button>
      <button class="grid-btn" type="button">8</button>
      <button class="grid-btn" type="button">9</button>
    </div>
  </body>
</html>
